body{
    text-align: center;
    background-color: #393E46;
}
/* .container-fluid{
    padding: 3% 15%;
    position: relative;
} */
.players{
    padding: 2% 25%;
}
.refresh{
    padding: 3% 15%;
}
h1{
    font-family: 'Lobster', cursive;
    font-size: 8rem;
    color: #4ECCA3;
    text-shadow: 5px 1px #232931;
}
.pl-text{
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
    line-height: 2;
}
img{
    size: 80%;
}
footer{
    color: white;
    font-family: 'Indie Flower', cursive;
    line-height: 2;
    font-size: 1.5rem;
    padding: 3% 15%;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(135, 135, 135);
}

